@{
    ViewData["Title"] = "Index";
 
}

   <h1>VIAJES COMPLETOS</h1>
    <h2><a href='@Url.Action("SelectPaquete")'>Crear Paquete</a></h2>
   
   <h1>Sus paquetes de viaje:</h1>

  
    @{
        foreach(string destino in ViewBag.Paquetes.Keys){
          
            <section><h1>@destino</h1>
            <img src="~/img/@ViewBag.Paquetes[destino].hotel" width="150" height="auto">
            <img src="~/img/@ViewBag.Paquetes[destino].aereo" width="150" height="auto">
            <img src="~/img/@ViewBag.Paquetes[destino].excursion" width="150" height="auto">
            <br>
            <div class="card-footer">
                <a class="erase" href='@Url.Action("borrarPaquete", new {destinoSeleccionado = destino})'>Borrar paquete</a>
            </div>
            </section>
     }

    }
     